<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.yood.springboot.mybatis.mapper.ContactMapper">

    <select id="get" resultType="Contact">
        select * from tb_user
        where id=#{id}
    </select>

    <select id="getAll" resultType="Contact">
        select * from tb_user
    </select>

    <select id="getByUser" resultType="Contact">
        select * from tb_contact where user_id=#{userId}
    </select>

    <insert id="add">
      insert into tb_contact(user_id,username,age,address) values(#{userId},#{username},#{age},#{address})
    </insert>

    <delete id="delete">
        delete from tb_contact where id=#{id}
    </delete>

    <delete id="deleteByUser">
        delete from tb_contact where user_id=#{userId}
    </delete>

    <update id="update">
        update tb_contact
        <set>
            <if test="userId > 0">user_id=#{userId},</if>
            <if test="username != null">username = #{username},</if>
            <if test="age > 0">age = #{age},</if>
            <if test="address != null">address = #{address},</if>
        </set>
        where id=#{id}
    </update>

</mapper>